<!DOCTYPE html>
<htlm>
    <head>
        <title>You have no friends</title>
        <meta charset="UTF-8">
        <meta name="viewport" content=
        "width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="main.css">

    </head>
    <body class="hero">
        <div id="wrapper"></div>
        <center>
                <img src="logo.png" class="logo">
                <br>
                
                <div class="container">
                    <div class="typed-out"> <h1 class="friend">
                        Find your friends!😈</h1>   
                    </div>
                </div>
                <br>
                <a href="sign up.html">
                
                    <button class="button2">
                        Sign up
                    </button>
                </a>

                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="login.html">
                    <button class="button1">
                        Login
                    </button>
                </form>
                </a>
                 
            <p>
                <h6 class="intro">
                    ☺️ Login to check your friend's avaibilities ☺️
                </h6>
             </p>
        </center>
    </body>
</htlm>



