<html>
    <head>
        <title>Schedule upload</title>
        <link rel="stylesheet" href="schedule.css">
    </head>

    <body class="schedule">
        <center>
        <p><h1> Upload your friend's schedule to see their avaibilities</h1></p>

        <form action="/action_page.php">
            <input type="file" id="myFile" name="filename">
            <input type="submit">
        </form>


        <a href="table.html">
        
        
        <button class="button2">
            Back
        </button>
        </a>
        
        
        </center>
        
    </body>
</html>